html {
  scroll-behavior: smooth;
}

body {
    background-color: #000000;
}


header {
    font-size: 36px;
    color: #2E8B57;
}

h2 {
    font-family: monospace;
    font-size: 32px;
    color: MediumSeaGreen;
}

.text2 {
    color: #A9A9A9;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.align {
    margin-top: 200px;       
    text-align: center;                   
}

.align-text {
    font-size: 40px;
    text-align: center;
}

.horta-vertical {
    text-align: center;
    font-size: 50px
}

.horta {
  font-size: 50px;
  text-align: center;
}

.button-container {
    position: fixed;
}

.custom-button1 {
    position: relative;
    top: 35px;
    left: 50px;
    bottom: 50px;
    font-size: 25px;
    padding: 12px 28px;
    display: inline-block;
    background-color: #00FA9A;
    border-radius: 4px;
    border: 0px;
    transition-duration: 0.5s;
    font-family: monospace;
    color: white;
    cursor: pointer;
  }

  .custom-button1:hover {
    background-color: white;
    color: black;
  }

  .custom-button2 {
    position: relative;
    top: 35px;
    left: 250px;
    bottom: 50px;
    font-size: 25px;
    padding: 12px 28px;
    display: inline-block;
    background-color: #00FA9A;
    border-radius: 4px;
    border: 0px;
    transition-duration: 0.5s;
    font-family: monospace;
    color: white;
    cursor: pointer;
  }

  .custom-button2:hover {
    background-color: white;
    color: black;
  }

  .custom-button3 {
    position: relative;
    top: 35px;
    left: 1650px;
    bottom: 50px;
    font-size: 25px;
    padding: 12px 28px;
    display: inline-block;
    background-color: #00FA9A;
    border-radius: 4px;
    border: 0px;
    transition-duration: 0.5s;
    font-family: monospace;
    color: white;
    cursor: pointer;
    width: 180px;
  }

  .custom-button3:hover {
    background-color: white;
    color: black;
  }

  .custom-button4 {
    position: relative;
    top: 35px;
    left: 1420px;
    bottom: 50px;
    font-size: 25px;
    padding: 12px 28px;
    display: inline-block;
    background-color: #00FA9A;
    border-radius: 4px;
    border: 0px;
    transition-duration: 0.5s;
    font-family: monospace;
    color: white;
    cursor: pointer;
  }

  .custom-button4:hover {
    background-color: white;
    color: black;
  }

  .text {
    text-align: center;
  }

  .text-h2 {
    font-size: 40px;
    padding: 100px;
    
  }

  .plants {
    color: #FFD700;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
  }

  .plants_2 {
    text-align: center;
    font-size: 25px;
  }

  .palavras-atencao {
    color: #BDB76B;
    font-size: 25px;
    position: relative;
    text-align: center;
    margin-top: 100px;
  }

  img {
    width: 450px;
    border: 2px solid #8FBC8F;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(85, 107, 47);
    position: relative;
    left: 700px;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
  }

  .padding {
    margin-top: 350px;
    font-size: 40px;
    color: mediumseagreen;
  }

  .fadeinout {
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.quemsomos {
  margin-top: 700px;
}

.text22 {
  text-align: center;
}

footer {
  background-color: #66CDAA;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  
}

.footer-content {
  display: flex;
  justify-content: space-around;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-info, .socialmedia-info {
  margin: 10px;
}

.contact-info h3, .socialmedia-info h3 {
  margin-top: 0;
}

.contact-info ul, .socialmedia-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li, .socialmedia-info li {
  margin-bottom: 25px;
}

.socialmedia-info {
  text-decoration: none;
  font-weight: bold;
}

.social-link {
  transition: color 0.3s;
  color: #4f0780;	
}

.social-link:hover {
  color: aliceblue;
}

