html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
}


header {
    font-size: 36px;
    color: #2E8B57;
}

h2 {
    font-family: monospace;
    font-size: 32px;
    color: MediumSeaGreen;
}

.text2 {
    color: #A9A9A9;
    font-size: 24px;
    padding: 5px;
    text-align: center;
}

.align {
    margin-top: 200px;       
    text-align: center;                   
}

.align-text {
    font-size: 40px;
    text-align: center;
}

.horta-vertical {
    text-align: center;
    font-size: 50px
}

.horta {
  font-size: 50px;
  text-align: center;
  background-color: #EAEFC8;
  height: 200px;
  padding-top: 1px;
}

.custom-button1, .custom-button2, .custom-button3, .custom-button4 {
  position: fixed; /* Fixa os botões na tela */
  font-size: 25px;
  padding: 12px 28px;
  display: inline-block;
  background-color: #00FA9A;
  border-radius: 4px;
  border: 0px;
  transition-duration: 0.5s;
  font-family: monospace;
  color: white;
  cursor: pointer;
}

.custom-button1:hover,
.custom-button2:hover,
.custom-button3:hover,
.custom-button4:hover {
  background-color: #006750;
  color: black;
}

/* Botão do lado esquerdo superior */
.custom-button1 {
  top: 20px; /* Ajuste conforme necessário */
  left: 20px; /* Ajuste conforme necessário */
}

/* Botão do lado esquerdo inferior */
.custom-button2 {
  top: 20px; /* Ajuste conforme necessário */
  left: 200px; /* Ajuste conforme necessário */
}

/* Botão do lado direito superior */
.custom-button3 {
  top: 20px; /* Ajuste conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
}

/* Botão do lado direito inferior */
.custom-button4 {
  top: 20px; /* Ajuste conforme necessário */
  right: 180px; /* Ajuste conforme necessário */
}

  .text {
    text-align: center;
  }

  .text-h2 {
    font-size: 40px;
    padding: 20px;
    padding-top: 20px;
    
  }

  .plants {
    color: #FFD700;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
  }

  .plants_2 {
    text-align: center;
    font-size: 25px;
  }

  .palavras-atencao {
    color: #BDB76B;
    font-size: 25px;
    position: relative;
    text-align: center;
    margin-top: 100px;
  }

  .imgalpha, .imgalpha0 {
    width: 100%;
    max-width: 450px; /* Tamanho máximo para as imagens */
    height: auto; /* Mantém a proporção */
    border: 2px solid #8FBC8F;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(85, 107, 47);
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .zimgalpha2 {
    width: 100%;
    max-width: 150px; /* Tamanho máximo para as imagens pequenas */
    height: auto; /* Mantém a proporção */
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .bottom-images-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaço entre as imagens */
    flex-wrap: wrap; /* Permite que as imagens quebrem para a linha seguinte se não houver espaço suficiente */
  }
  
  .top-image-container {
    text-align: center;
    margin-bottom: 50px;
  }



  .padding {
    margin-top: 350px;
    font-size: 40px;
    color: mediumseagreen;
  }

  .padding2 {
    margin-top: 50px;
  }

  .fadeinout {
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.quemsomos {
  margin-top: 700px;
}

.agenda2030 {
  margin-top: 100px;
}

.text22 {
  text-align: center;
}

footer {
  background-color: #48A3A7;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.contact-info, .socialmedia-info {
  margin: 10px;
}

.contact-info h3, .socialmedia-info h3 {
  margin-top: 0;
}

.contact-info ul, .socialmedia-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li, .socialmedia-info li {
  margin-bottom: 25px;
}

.socialmedia-info {
  text-decoration: none;
  font-weight: bold;
}

.social-link {
  transition: color 0.3s;
  color: #4f0780;	
}

.social-link:hover {
  color: aliceblue;
}

.text2_video {
  margin-top: 450px;       
  text-align: center;   
  padding-top: 300px;
}

.text22_video {
  color: #A9A9A9;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {

  .custom-button1, .custom-button2, .custom-button3, .custom-button4 {
    display: none; /* Esconde todos os botões em telas pequenas */
  }
  
  /* Ajuste para imagens */
  .imgalpha, .imgalpha0 {
    width: 100%; /* Faz com que a imagem ocupe a largura disponível */
    max-width: 300px; /* Largura máxima da imagem em dispositivos móveis */
    height: auto; /* Mantém a proporção da imagem */
  }

  .bottom-images-container {
    flex-direction: column; /* Coloca as imagens em uma coluna em vez de linha */
    align-items: center; /* Centraliza as imagens */
  }

  .zimgalpha2 {
    max-width: 100px; /* Tamanho máximo das imagens pequenas */
  }

  /* Ajuste para outros elementos */
  .horta {
    width: 100%;
    height: auto;
  }

  footer {
    margin-right: 0;
  }

  iframe {
    width: 100%; /* Faz com que o vídeo ocupe toda a largura disponível do container */
    height: 300; /* Mantém a proporção do vídeo */
  }
}
